.Header {
  margin-top: 32px;

  display: flex;
  justify-content: space-between;
}

.Header > nav {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: flex-end;

  list-style: none;
}

.Header > nav > a,
.Header > nav > a:visited {
  color: var(--color-white);
  font-size: var(--font-size-medium);
  text-decoration: none;
}

.Header > nav > a + a {
  margin-left: 64px;
}
