.Header {
  padding: 12px;

  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  grid-template-areas: ". logo  menu";
}

.Logo {
  grid-area: logo;
  justify-self: center;
  align-self: center;
}

.HamburgerButton {
  width: 40px;
  height: 40px;
  grid-area: menu;
  justify-self: end;
  align-self: center;

  background: none;
  border: none;
}
